@page
@model MartketOrtz.Pages.GestionVentaModel
@{
    ViewData["Tittle"] = "Gestion de Ventas";
}

@{

    <div class= "winform-container mt-3">
        <div class="row">
            <div class="col pe-4 border-end border-secondary">
                <form method="post" asp-asp-page-handler="Agregar" id="formAgregar" class="row g-2 align-items-center mb-3">
                    <div class="col-auto">
                        <label for="seleccionarProducto">Producto:</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-select-sm rounded-0" id="seleccionarProducto" asp-for="IdProductoSeleccionado" required>
                            <option value="">- Seleccionar -</option>
                            @foreach (var p in Model.Productos)
                                    {
                                      <option value="@p.IdProducto">@p.Nombre</option>  
                                    }
                                </select>
                    </div>
                    <div class="col-auto ms-auto">
                        <label for="inputCantidad">Cantidad:</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control form-control-sm rounded-0" id="inputCantidad" type="number" min="1" value="0" asp-asp-for="Cantidad" required />
                    </div>
                </form>

                <form id="formAccionesCarrito" method="post">
                    <div class="winform-datagrid mb-3">
                        <table class="winform-table">
                            <thead>
                                <tr>
                                    <th>Sel.</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Carrito != null && Model.Carrito.Count > 0)
                                    {
                                    int index = 0;
                                        foreach (var item in Model.Carrito)
                                        {
                                         <tr>
                                            <td class="text-center">
                                                <input type="radio" name="IndexEditar" value="IndexEditar" value="@index" />

                                            </td>
                                            <td>@item.NombreProducto</td>
                                            <td>@item.Cantidad</td>
                                            <td>$@item.PrecioUnitario</td>
                                            <td>$@item.SubTotal</td>
                                         </tr> 
                                        index++;
                                        }
                                    }
                                </tbody>
                        </table>
                    </div>

                    <div class="row g-3 px-2">
                        <div class="col-6">
                            <button type="submit" form="formAgregar" class="winform-btn w-100 mb-3" >Agregar</button>
                            <button type="submit" asp-page-handler="Editar" class="winform-btn w-100">Editar</button>

                        </div>
                        <div class="col-6">
                            <button type="submit" asp-page-handler="EliminarItem" class="winform-btn w-100 mb-3">Eliminar</button>
                            <button type="submit" asp-page-handler="Cancelar" class="winform-btn w-100">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class ="col-md-6 ps-4">

                <form id="formAccionesVentas" method="post">
                    <div class="row g-2 aling-items-center justify-content-end mb-3">
                        <div class="col-auto">
                            <label>Actualizar:</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control-sm rounded-0" asp-for="NuevoTotal" />

                        </div>
                    </div>

                    <div class="winform-datagrid mb-3">
                        <table class="winform-table">
                            <thead>
                                <tr>
                                    <th>*</th>
                                    <th>IdVenta</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @if (Model.Ventas != null && Model.Ventas.Count > 0)
                                    {
                                        foreach (var v in Model.Ventas)
                                        {
                                            <tr>
                                                <td class="text-center"> 
                                                    <input type="radio" name="IdVentaSeleccionada" value="@v.IdVenta" />

                                                </td>
                                                <td>@v.IdVenta</td>
                                                <td>@v.Fecha.ToString("dd/MM/yyyy")</td>
                                                <td>$@v.Total</td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                        </table>
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <button type="submit" asp-page-handler="Registrar" class="winform-btn flex-fill" style="padding: 15px 10px;">Registrar venta</button>

                        <button type="submit" asp-page-asp-page-handler="EliminarVenta" class="winform-btn flex-fill">Eliminar venta</button>
                        
                        <button type="submit" asp-asp-page-handler="ActualizarVenta" class="winform-btn fill">Actualizar</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

}
